DATABASE_URL="file:./dev.db"
ALGOD_SERVER="https://testnet-api.algonode.cloud"
ALGOD_PORT=""
ALGOD_TOKEN=""
ALGOD_HEADERS=""
INDEXER_SERVER="https://testnet-api.algonode.cloud"
INDEXER_PORT=""
INDEXER_TOKEN=""
COINGECKO_API_KEY="" # optional, free tier ok
